
:root {
  --background: lightgray;
  --background-special: white;
  --black: black;
  --border: .23rem solid var(--black);
}

*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  background-color: rgb(118, 118, 118);
}

main {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: grid;
  place-items: center;
}

.disabled {
  background: darkgray !important;
}

.foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 10;

  background-image: url(../images/dogy-background-lines-loopable-foreground.svg);
  background-size: 201% 101%;
  background-position: 100% -217%;
  background-repeat: repeat-x;

  animation: foreground-loop 9s infinite linear;
  animation-play-state: paused;
}

@keyframes foreground-loop {
  to {
    background-position: -99% -217%;
  }
}

main > article {
  max-width: 72rem;
  width: calc(100% - 2rem);
  aspect-ratio: 16/9;
  background-image: url(../images/dogy-background-lines-loopable.svg);
  background-size: 200% 101%;
  background-position: 100% bottom;
  background-repeat: repeat-x;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  position: relative;

  border: var(--border);
  animation: background-loop 11s infinite linear;
  animation-play-state: paused;
}

.backgroundAnim {
  animation-play-state: running;
}

@keyframes background-loop {
  to {
    background-position: -100% bottom;
  }
}

.btnContainer {
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
}

.btnContainer > button {
  background-color: var(--background-special);
  aspect-ratio: 1/1;
  border: var(--border);
  font-weight: bold;
  border-radius: 50%;
}

.btnContainer > button:active {
  background-color: rgb(239, 239, 239);
}

.btnContainer > button > canvas {
  width: 5rem;
}

main article > canvas {
  position: absolute;
  bottom: -2%;
  left: 26%;

  width: 50%;
  aspect-ratio: 1/1;
}

.audioControl {
  align-self: start;
  padding: 1rem;
  margin: 1rem;
  aspect-ratio: 1/1;
  background-color: var(--background-special);
  border: var(--border);
  border-radius: 50%;

  background-image: url(../images/audio-off.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 1;
  display: grid;
  place-items: center;
  pointer-events: none;

  animation: loader 2.5s forwards;
}

.loader > canvas {
  max-width: 50rem;
  width: 100%;
  aspect-ratio: 1/1;
}

@keyframes loader {
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (max-width: 50rem) {
  
  main > article {
    aspect-ratio: 3/4;
    width: calc(100% - 2rem);
    background-size: 450% 98%;
    background-position: 100% -206%;

    justify-content: start;
    align-items: center;
    animation: background-loop-small 18s infinite linear;
    animation-play-state: paused;
  }
  
  @keyframes background-loop-small {
    to {
      background-position: -100% -206%;
    }
  }


  .btnContainer {
    flex-direction: row;
    padding: .5rem;
  }

  .btnContainer > button {
    padding: .1rem;
  }

  .btnContainer > button > canvas {
    width: 4rem;
  }

  main article > canvas {
    width: 100%;
    left: 0;
    bottom: 5%;
  }


}